.panel {
  width: 412px;
  height: 416px;
  border-radius: 30px;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  padding: 32px;
  text-align: left;
}

.panel.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.star {
  width: 20px;
  height: 20px;
  background: #262e38;
  padding: 20px;
  border-radius: 100%;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  margin-top: 40px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #969fad;
}

.ratingGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

.rating {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #262e38;
  color: #7c8798;
}

.rating:hover {
  background: #7c8798;
  color: white;
}

.rating.active {
  background: #fc7614;
  color: white;
}

.submit {
  width: 100%;
  height: 50px;
  background: #fc7614;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-top: 32px;
}

.submit:hover {
  background: white;
  color: #fc7614;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 193px;
  height: 32px;
  border-radius: 22.5px;
  background: #262e38;
  color: #fc7614;
  font-weight: 500;
  padding: 5px;
  margin-top: 32px;
}
